#main {
  margin: 0 auto;
  background-color: aliceblue;
  top: 0%;
  position: fixed;
  height: 800px;
  width: 1500px;
  margin-left: 250px;
  margin-right: 250px;
}
#choose {
  left: 48%;
  position: fixed;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  width: 1000px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}
.grid div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  height: 48px;
  width: 48px;
  text-align: center;
}
body {
  background-image: url("bg.jpg");
  background-size: cover;
}
#party {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 130px;
}
#party img {
  height:100%;
}
.heading { 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 137px;
  width: 100%;
  background-color: rgba(204, 0, 255, 0.707);
  color: white;
  text-align: center;
  opacity: 1.0;
}